body, html {
  height: 100%;
}
main {
  height: 100%;
    max-width: 1600px;
}

#board {
  width: 50vw;
  height: 50vw;
  margin-top: 1em;
}

.tile {
  width: calc(100%/3);
  height: calc(100%/3);
  float: left;
  outline: 1px solid;
}

.tile:hover {
    cursor: cell;
}